{% load staticfiles %}
<div class="pilot panel panel-default col-lg-12">
    <div class="pilot_details panel-heading">
    <span class="ship-icon">
        <i class="xwing-miniatures-ship xwing-miniatures-ship-{{ pilot.pilot.ship.xws }}"></i>
    </span>&nbsp;
        <span class="name">{{ pilot.pilot.name }}</span>&nbsp;
        <span class="points">{{ pilot.points }}</span>

    </div>
    <div class="panel-body">
        <form class="form-horizontal" id="pilot-{{ pilot.id }}">
            <div class="stats row">
                {% for stat_name, stat_value in pilot.stats.skill_dict.items %}
                    {% include 'control/statcontrol.html' %}
                {% endfor %}

            </div>
    </div>
    <div class="panel-footer">
        <div class="upgrades row">
            {% for upgrade in pilot.upgrades.all %}
                <input type="checkbox" name="upgrade-{{ upgrade.id }}-{{ pilot.id }}"
                       class="upgrade-control" id="upgrade-{{ upgrade.id }}-{{ pilot.id }}"
                       value="{{ upgrade.active }}" {% if upgrade.active %}checked{% endif %}
                       data-toggle="toggle" data-on="{{ upgrade }}" data-off="{{ upgrade }}"
                >
            {% endfor %}
        </div>

        </form>
    </div>
</div>