<div class="{{ stat_name }} col-md-6 stat-control-holder">
    <a data-value="{{ stat_value|add:1 }}" class="btn btn-{{ stat_name }} pull-left stat-control" href="" id="{{ stat_name }}-{{ pilot.id }}-up"><i class="fa fa-caret-up"></i></a>
    {% if stat_name == "skill" %}
        <i class="xwing-miniatures-font xwing-miniatures-font-{{ pilot.pilot.faction.pilot_icon }}"></i>
    {% else %}
        <i class="xwing-miniatures-font xwing-miniatures-font-{{ stat_name }}"></i>
    {% endif %}
    &nbsp;<span id="{{ stat_name }}-{{ pilot.id }}">{{ stat_value }}</span>
    <a data-value="{{ stat_value|add:-1 }}" class="btn btn-{{ stat_name }} pull-right stat-control" href="" id="{{ stat_name }}-{{ pilot.id }}-down"><i class="fa fa-caret-down"></i></a>
</div>
{% if stat_name == "skill" %}
    <div class="col-md-6"><i class="xwing-miniatures-font"></i>&nbsp;</div>
{% endif %}