<div class="{{ stat_name }} col-md-6 stat-control">
    <a class="btn btn-{{ stat_name }} pull-left" href="#"><i class="fa fa-caret-up"></i></a>
    {% if stat_name == "skill" %}
        <i class="xwing-miniatures-font xwing-miniatures-font-{{ pilot.pilot.faction.pilot_icon }}"></i>
    {% else %}
        <i class="xwing-miniatures-font xwing-miniatures-font-{{ stat_name }}"></i>
    {% endif %}
    &nbsp;<span id="{{ stat_name }}-{{ pilot.id }}">{{ stat_value }}</span>
    <a class="btn btn-{{ stat_name }} pull-right" href="#"><i class="fa fa-caret-down"></i></a>
</div>