#wrapper {
    background: magenta;
    height: 100vh;
}

.player {
    background: black;
    padding: 15px;
    height: 100vh;
    width: 25vw;
}

.playerone {
    float: left;
    -webkit-shape-outside: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    -webkit-shape-margin: 20px;
}

.playertwo {
    float: right;
    text-align: right;
    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    -webkit-shape-margin: 20px;
}

.marquee {
    overflow: hidden;
}

.disabled {
    color: dimgray;
}

.rebel-alliance-gradient, .resistance-gradient {
    background: rgba(0, 0, 0, 0.6); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(51, 34, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(51, 34, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(51, 34, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(51, 34, 0, 0.6), rgba(0, 0, 0, 0.6)); /* Standard syntax (must be last) */
}

.scum-and-villainy-gradient {
    background: rgba(0, 0, 0, 0.6); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(72, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(72, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(72, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(72, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* Standard syntax (must be last) */
}

.galactic-empire-gradient, .first-order-gradient {
    background: rgba(0, 0, 0, 0.6); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 72, 0, 0.6), rgba(0, 0, 0, 0.6)); /* Standard syntax (must be last) */
}

.timer-container {
    position: absolute;
    width: 100%;
    z-index: 15;
    bottom: 0;
    right: 25%;
    left: 50%;
    margin-left: -50%;
    text-align: center;
    font-family: Bank;
}
