{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
    <script src="{% static "js/site/match.js" %}"></script>
{% endblock %}
{% block css %}
    <link href="{% static "stylesheets/site/overlay.css" %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
    <div class="row">
        <div class="player pull-left" id="player_one">
            {% include 'player.html' with player=match.squad_one %}
        </div>

        <div class="player pull-right" id="player_two">
            {% include 'player.html' with player=match.squad_two %}
        </div>
    </div>
{% endblock %}