{% extends "base.html" %}
{% load static %}
{% block js %}
    <script type='text/javascript'>
        var match_id = {{ match.id }};
        var finish_time = "{{ match.end_time|date:"Y/m/d H:i:s" }}";
        var player_1_icon = "{{ faction_one }}";
        var player_2_icon = "{{ faction_two }}";
        var static_url = "{% static "xwing-data/images/" %}";
    </script>

    <script src="{% static "js/site/channels.js" %}"></script>
    <script src="{% static "jquery.countdown/dist/jquery.countdown.js" %}"></script>
    <script src="{% static "js/site/match.js" %}"></script>
{% endblock %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="{% static "stylesheets/site/overlay.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "stylesheets/site/common.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "stylesheets/site/pleasewait.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="player playerone {{ match.squad_one.pilots.first.pilot.faction|slugify }}-gradient" id="player_one">
            {% include 'player.html' with player=match.squad_one %}
        </div>

        <div class="player playertwo {{ match.squad_two.pilots.first.pilot.faction|slugify }}-gradient" id="player_two">
            {% include 'player.html' with player=match.squad_two %}
        </div>
        <div class="timer-container">
            <div class="btn" id="timer"></div>
        </div>
        <div class="please-wait">
            <div class="squad-one">
                <div class="image-marquee">{{ match.squad_one.all_images|safe }}</div>
            </div>
            <div class="branding">Up next from <img class="logo" src="{% static "images/FatHans.jpg"%}"/></div>
            <div class="squad-two">
                <div class="image-marquee">{{ match.squad_two.all_images|safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}