{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
    <script type='text/javascript'>
        var match_id = {{ match.id }};
        var finish_time = "{{ match.end_time|date:"Y/m/d H:i:s" }}";
        var player_1_icon = "{{ faction_one }}";
        var player_2_icon = "{{ faction_two }}"
    </script>

    <script src="{% static "js/site/channels.js" %}"></script>
    <script src="{% static "bower_components/jquery.countdown/dist/jquery.countdown.js" %}"></script>
    <script src="{% static "js/site/match.js" %}"></script>
{% endblock %}
{% block css %}
    <link href="{% static "stylesheets/site/overlay.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "stylesheets/site/common.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="player playerone {{ match.squad_one.pilots.first.pilot.faction|slugify }}-gradient" id="player_one">
            {% include 'player.html' with player=match.squad_one %}
        </div>

        <div class="player playertwo {{ match.squad_two.pilots.first.pilot.faction|slugify }}-gradient" id="player_two">
            {% include 'player.html' with player=match.squad_two %}
        </div>
        <div class="timer-container">
            <div class="btn" id="timer"></div>
        </div>
    </div>
    <i class="shrunken xwing-miniatures-font xwing-miniatures-font-firstorder"></i>
{% endblock %}