<script type='text/javascript'>
    $(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + "/match/" + {{ match.id }} +'/live';
    console.log("Connecting to " + ws_path);
    var socket = new WebSocket(ws_path);
        
    socket.onopen = function() { console.log("Connected to notification socket"); }
    socket.onclose = function() { console.log("Disconnected to notification socket"); }
{#    socket.onmessage = function(message) {#}
{#        var data = JSON.parse(message.data);#}
{#        var chat = $("#chat")#}
{#        var ele = $('<tr></tr>')#}
{##}
{#        ele.append(#}
{#            $("<td></td>").text(data.timestamp)#}
{#        )#}
{#        ele.append(#}
{#            $("<td></td>").text(data.handle)#}
{#        )#}
{#        ele.append(#}
{#            $("<td></td>").text(data.message)#}
{#        )#}
{#        #}
{#        chat.append(ele)#}
{#    };#}
{##}
{#    $("#chatform").on("submit", function(event) {#}
{#        var message = {#}
{#            handle: $('#handle').val(),#}
{#            message: $('#message').val(),#}
{#        }#}
{#        socket.send(JSON.stringify(message));#}
{#        $("#message").val('').focus();#}
{#        return false;#}
{#    });#}
});
</script>