{% load staticfiles %}
<div class="pilot">
<div class="pilot_details">
    <span class="ship-icon">
        <i class="xwing-miniatures-ship xwing-miniatures-ship-{{ pilot.pilot.ship.xws }}"></i>
    </span>&nbsp;
    <span class="name">{{ pilot.pilot.name }}</span>&nbsp;
    <span class="points">{{ pilot.points }}</span>
    
</div>
    <div class="actions">
        {% for action in pilot.pilot.slot_set.all %}
            <i class="xwing-miniatures-font xwing-miniatures-font-{{ action|lower }}"></i>
        {% endfor %}
    </div>
    <div class="upgrades">
        <div class="marquee" id="upgrades-{{ pilot.id }}">
            {{ pilot.upgrade_list|safe }}
        </div>
    </div>
    <div class="stats">
        <span class="skill">
            <span>PS</span>&nbsp;
            <span id="skill-{{ pilot.id }}">{{ pilot.stats.skill }}</span>
        </span>
        <span class="attack">
            <i class="xwing-miniatures-font xwing-miniatures-font-attack"></i>&nbsp;
            <span id="attack-{{ pilot.id }}">{{ pilot.stats.attack }}</span>
        </span>
        <span class="agility">
            <i class="xwing-miniatures-font xwing-miniatures-font-agility"></i>&nbsp;
            <span id="agility-{{ pilot.id }}">{{ pilot.stats.agility }}</span>
        </span>
        <span class="hull">
            <i class="xwing-miniatures-font xwing-miniatures-font-hull"></i>&nbsp;
            <span id="hull-{{ pilot.id }}">{{ pilot.stats.hull }}</span>
        </span>
        <span class="shield">
            <i class="xwing-miniatures-font xwing-miniatures-font-shield"></i>&nbsp;
            <span id="sheilds-{{ pilot.id }}">{{ pilot.stats.shield }}</span>
        </span>
    </div>
</div>